#{extends 'main.html'/}
#{set title:'crear usuario'/}

<div class="container">
    <h1>Crear Persona</h1>
    <form action="" method="post" role="form">
    	<legend>Form Title</legend>
    
    	<div class="form-group">
    		<label for="">Nombre</label>
    		<input type="text" class="form-control" name="" id="" placeholder="Input...">
    	</div>

        <div class="form-group">
            <label for="">Apellido Paterno</label>
            <input type="text" class="form-control" name="" id="" placeholder="Input...">
        </div>
        <div class="form-group">
            <label for="">Apellido Materno</label>
            <input type="text" class="form-control" name="" id="" placeholder="Input...">
        </div>

        <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" name="" id="" placeholder="Input...">
        </div>
        <div class="form-group">
            <label for="">Telefono</label>
            <input type="text" class="form-control" name="" id="" placeholder="Input...">
        </div>
        <div class="form-group">
            <label for="">Anexo</label>
            <input type="text" class="form-control" name="" id="" placeholder="Input...">
        </div>
    
    	<button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
