#{extends 'main.html'/}
#{set title:'menu'/}
#{stylesheet src:'css/menu.css'/}



<div class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="navbar-collapse collapse">
                <ul id="menu-top" class="nav navbar-nav navbar-right">
                    <li><a href="3">dos</a></li>
                    <li><a href="#">tres</a></li>
                    <li><a href="#">uno</a></li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>