<title>#{get 'title'/}</title>
<meta charset="${_response_encoding}"/>
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<!-- Boostrap-->
<link rel="stylesheet" type="text/css" media="screen" href="@{'public/css/bootstrap.min.css'}" />
<link rel="stylesheet" type="text/css" media="screen" href="@{'public/css/font-awesome.min.css'}" />

#{get 'moreStyles' /}
<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />

<!-- JavaScript-->
<script type="text/javascript" src="@{'public/javascripts/jquery-1.11.3.min.js'}" charset="${_response_encoding}"></script>
<script type="application/javascript" src="@{'public/javascripts/bootstrap.min.js'}"></script>
#{get 'moreScripts' /}